
.footer {
  margin-top: 80px;
  background: #4e0000;
  color: white;
  padding: 45px 20px 20px;
}

.footer-content {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.footer h2 {
  margin-bottom: 10px;
  font-size: 28px;
  color:antiquewhite
}

.footer p {
  color: #ddd;
  margin-bottom: 25px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 35px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #ddd;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}
